@model IEnumerable<Domain.Entities.University>

@{
    ViewBag.Title = "Universities";
}

<h2>List of the 5 best world's universities</h2>
@foreach (var university in Model)
{
    <div class="item">
        <h3>University: @university.Name</h3>
        Country: @university.Country <br/>
        Rank: @university.Rank.ToString() <br />
        Count of students: @university.NumberOfStudents.ToString()<br />
        Percent of international students: @university.InternationalStudent.ToString("##0")%<br />
    </div>
}

